head
    title zevladnit
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='ie-edge')    
    meta(name="description", content=Hi, i zevladnit, this is my website)
    link(href='./app.css' rel='stylesheet')
    link(href='./icon.svg' rel='icon' type='image/svg+xml')
    include ./scripts/google_analytics
    include ./scripts/yandex_analytics