doctype html
html(lang='en')
  head
    title zevladnit
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='ie-edge')    
    meta(name="description", content=Hi, i zevladnit, this is my website)
    link(href='./app.css' rel='stylesheet')
    link(href='./icon.svg' rel='icon' type='image/svg+xml')
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-5HT1K6B14B')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5HT1K6B14B');
  body
    div.main
      include ../img/logo.svg
      div.buttons        
        a(href='https://github.com/zevladnit' target='blank')
          button.btn.custom GitHub
        a(href='https://codestats.net/users/zevladnit#signup-form' target='blank')
          button.btn.custom CodeStats
        a(href='https://vk.com/zevladnit' target='blank')
          button.btn.custom VK
        a(href='https://shikimori.one/zevladnit' target='blank')
          button.btn.custom Shikimori
        a(href='https://zevladnit.jimdofree.com/' target='blank')
          button.btn.custom Previous
    include ./footer
    script(src='./app.js')