doctype html
html(lang='en')
  head
    title zevladnit
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='ie-edge')    
    meta(name="description", content=Hi, i zevladnit, this is my website)
    link(href='./app.css' rel='stylesheet')
  body
    div.main      
      img(src='./WoW.png')
      p C# Developer
      div.buttons
        button.btn.first Button 1
        button.btn.custom Button 2
        button.btn.third Button 3
    include ./footer
    script(src='./app.js')