doctype html
html(lang='en')
  head
    title zevladnit
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='ie-edge')    
    meta(name="description", content=Hi, i zevladnit, this is my website)
    link(href='./app.css' rel='stylesheet')
  body
    div.main      
      img(src='./WoW.png')
      a(href='./fire_footer.html') Check this
    include ./footer
    script(src='./app.js')