.main {
    height: 90vh;
	display: flex;
	flex-direction: column;
    align-items: center;    
    justify-content: center;
}
img {
    height: 25%;
}
a {
	text-decoration: none;
    color: darkorange;
}
p {
    color: fuchsia; 
}